* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.container {
    max-width: 500px;
    margin: 100px auto;
    padding: 5% 10%;
    background-color: whitesmoke;
    border-radius: 15px;
}


header {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.material-symbols-outlined {
    color: #9400d3;
}

h1 {
    text-transform: uppercase;
    font-size: 25px;
    margin-left: 5px;
    font-weight: bold;
    color: #9400d3;
}

form label {
    display: block;
    font-weight: bold;
    font-size: 12px;
    color: #00d300;
}

form input {
    display: block;
    max-width: 200px;
    width: 100%;
    padding: 5px;
    font-size: 12px;
    margin-bottom: 8px;
    border-radius: 5px;
    border: none;
    border-bottom:1px solid #9400d3 ;
}

input:focus {
    outline: 1px solid #9400d3;
}

button {
    padding: 5px;
    max-width: 200px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #00d300;
    color: whitesmoke;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}